.tag_list {
  margin-top: 12px;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.tag_chip {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 6px 16px 6px 12px;
  border-radius: 26px;
  background: var(--Cool-Gray100);
  gap: 8px;

  color: var(--Cool-Gray800);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  white-space: nowrap;
}

.error {
  font-size: 1.5rem;
  color: var(--error-red);
  font-weight: 600;
  padding-left: 16px;
  padding-top: 8px;
}
