form {
  @media (min-width: 375px) and (max-width: 767px) {
    position: absolute;
    top: calc(100% - 42px);
  }
}
.search_wrapper {
  width: 32.5rem;
  display: flex;
  flex-direction: row;

  align-items: center;
  padding-top: 0.9rem;
  padding-bottom: 0.9rem;
  padding-left: 1.6rem;
  border-radius: 10px;
  background: var(--Cool-Gray100);
  border: none;

  @media (min-width: 768px) and (max-width: 1199px) {
    width: 24.2rem;
  }

  @media (min-width: 375px) and (max-width: 767px) {
    width: 29.4rem;
  }
}

.search_input {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  align-items: flex-start;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--Cool-Gray400);
  outline: none;
  border: none;
  background: var(--Cool-Gray100);
}
