@import "./reset.css";

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Pretendard";
}

form {
  width: 64rem;
  margin-top: 6rem;

  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  width: 100%;
  margin-bottom: 4rem;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-logo {
  width: 39.6rem;
  height: 13.2rem;
}

.title-logo img {
  width: 100%;
}

.title-subtext {
  margin-top: 1.2rem;

  text-align: center;
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--Cool-Gray800);
}

label {
  width: 100%;
  max-width: 64rem;
  margin: 1.2rem 0;
  border-radius: 0.8rem;

  display: flex;
  flex-direction: column;

  font-size: 1.8rem;
  font-weight: 700;
  line-height: 21.48px;
}

button {
  width: 100%;
  padding: 1.6rem 2rem;
  margin: 1.2rem auto;

  display: flex;
  justify-content: center;
  align-items: center;

  color: #fff;
  border-radius: 4rem;
  border: none;
  background: var(--Cool-Gray400);
  font-size: 1.8rem;
  font-weight: 600;
}

.input-container {
  width: 100%;
  margin-top: 1.6rem;
}

input {
  width: 100%;
  padding: 1.6rem 2.4rem;

  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1.2rem;
  border: 0.2rem solid var(--Cool-Gray100);
  background: var(--Cool-Gray100);
}

input:focus {
  border-radius: 1.2rem;
  border: 0.2rem solid #3692ff;
}

.helper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
}

.input-eye-off {
  right: 1.5rem;
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.another-signup {
  margin: 1.2rem 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1.2rem 2.4rem;
  border-radius: 0.8rem;
  background-color: #e6f2ff;
}

.another-signup-logo {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  background-color: #e6f2ff;
  gap: 1.6rem;
}

.another-signup-text {
  text-decoration: solid;
  background-color: #e7effb;
  font-size: 1.4rem;
}

.deco_text {
  text-decoration-line: underline;
  color: var(--Brand-Blue);
}
