.card_list {
  display: grid;
  grid-template-columns: repeat(4, auto);
  justify-content: center;
  gap: 40px 24px;
  padding-bottom: 100px;
  margin: 0 auto;
  padding: 0 36rem;
}

@media (max-width: 1124px) {
  .card-list {
    grid-template-columns: repeat(3, 340px);
  }
}

@media (max-width: 767px) {
  .card-list {
    grid-template-columns: 340px;
  }
}
