.card_container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: 1.5rem;
}

.card_container:hover > .card_description {
  background-color: #f0f6ff;
}

.card_wrapper {
  display: grid;
  height: 100%;
}

.card_image_container {
  width: 220px;
  height: 220px;
  /* width: 100%; */
  /* height: 100%; */
  border-radius: 13px;
}

.card_image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center; /* 이미지를 중심으로 잘라냄 */
  border-radius: 1.3rem;
}

.card_info {
  padding-top: 1.6rem;
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  color: var(--Cool-Gray-800);
  /* background-color: var(--White); */
}

.card_title {
  font-size: 1.4rem;
  font-weight: 500;
}

.card_price {
  font-size: 1.6rem;
  font-weight: 700;
}

.card_interest {
  display: flex;
  flex-direction: row;
  font-size: 1.2rem;
  align-items: center;
  color: var(--Cool-Gray-600);
}

.card_count {
  margin-left: 4px;
}
